[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[{.babelrc, .prettierrc, .stylelintrc, .eslintrc, jest.config, .jsb3, .jsb2, *.bowerrc}]
indent_size = 2

[*.blade.*]
tab_width = 2
indent_size = 2

[*.php]
max_line_length = 160

[*.vue]
indent_size = tab

[*.js]
indent_size = tab

[{*.less, *.scss, *.json, *.js.map, *.css}]
indent_size = 2
max_line_length = 80
tab_width = 2

[.env]
max_line_length = 300
