/** @format */

button:focus {
    outline: 0;
}

#app {
    background-color: #eee;
    outline: 1px solid slategrey;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #e0e0e0;
    height: 3px;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
textarea:focus,
input:focus {
    outline: none;
}

.b-scroll::-webkit-scrollbar {
    width: 0.55em;
}
.b-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #e0e0e0;
}
.b-scroll::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    outline: 1px solid slategrey;
}
.pointer {
    cursor: pointer;
}
.top-styling {
    border-top: 2px solid #f9a825 !important;
}
.osxbutton {
    text-decoration: none;
    font-family: ".LucidaGrandeUI", "Lucida Grande", "Lucida sans unicode";
    color: black;
    font-size: 11px;
    border: 1px solid #9c9c9c;
    background-image: -webkit-linear-gradient(#efefef 0%, #ecebeb 30%, #e7e6e6 45%, #e0dfdf 60%, #eeeeee 100%);
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.search-dialog {
    align-self: flex-start;
    margin-top: 6.5%;
}
.border {
    border-radius: 8px !important;
}
.border-lg {
    border-radius: 10px !important;
}

.rounded-1 {
    border-radius: 1px !important;
}
.rounded-2 {
    border-radius: 2px !important;
}
.rounded-3 {
    border-radius: 3px !important;
}
.v-time-picker-custom .v-picker__title {
    height: 86px;
    padding-top: 10px;
}
.accent {
    background-color: #d2dbe0 !important;
    color: #3e3e40 !important;
}
.orderTimePicker {
    font-family: "Roboto", sans-serif;
    .el-popper {
        margin-top: 7px;
    }
    .el-date-picker__header span:hover {
        color: #f9a825;
    }
    .el-date-picker__header button:hover {
        color: #f9a825;
    }
    input {
        border-color: #f9a825 !important;
    }
    .confirm {
        color: #f9a825;
    }
    .el-picker-panel__footer {
        display: none;
    }
    .current span {
        background-color: #f9a825 !important;
    }
    .today span {
        color: #f9a825 !important;
    }
    .today.current span {
        color: #ffffff !important;
    }
    td.available:hover {
        color: #f9a825;
    }
    .el-date-picker__header {
        display: none !important;
    }
}
.v-toolbar--dense .v-toolbar__content,
.v-toolbar--dense .v-toolbar__extension {
  border-bottom: none !important;
}
