/** @format */

.order-form {
  position: absolute;
  top: 35px;
  left: 27px;
}

.order-button-additional {
  position: absolute;
  top: 72px;
  left: 100px;
}

.border {
  border: 1px solid black;
}

.v-tooltip__content {
  background-color: rgb(252, 252, 247) !important;
  color: dimgray !important;
  font-weight: bold;
}
