/** @format */

.el-date-table td.end-date span,
.el-date-table td.start-date span {
    background-color: coral !important;
}
.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #f5e0d7 !important;
}
.el-date-table td.today span {
    background-color: #409eff !important;
    color: #eee;
}
.el-picker-panel {
    border-radius: 15px !important;
}
.el-picker-panel__sidebar {
    border-radius: 15px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.el-date-editor.el-input__inner {
    border-color: #949494;
    border-radius: 2px !important;
    background-color: #f3f3f3;
}
.el-date-editor .el-range-separator {
    margin-bottom: 13px !important;
}
.el-picker-panel__shortcut:hover {
    color: coral !important;
}
.el-date-table td.available:hover {
    color: coral !important;
}
.details-dialog {
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 9%;
    //margin-left: 63%;
}
