.order-button-additional {
  position: absolute;
  top: 35px;
  right: 8px;
}

.back-button-additional {
  position: absolute;
  top: 35px;
  left: 8px;
}

.mobile-map {
  background-color: #ffffffff !important;
  position: fixed !important;
  z-index: 9 !important;
  top: 50px !important;
  width: 100% !important;
  height: 70% !important;
}
